<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-2 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-dark">Coupons List</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Coupon Code</th>
                            <th>Discount Amount</th>
                            <th>Minimum Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-3 text-end">
                <a class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> Create New Coupon</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="text-end">
                                <a class="btn btn-outline-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
